nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    ul.navbar-nav
        li.nav-item
            a.nav-link(href="#",data-widget="pushmenu",role="button")
                i.fas.fa-bars
        li.nav-item
            a.nav-link(href="/")
                | Home
        li.nav-item
            a.nav-link(href="#")
                | Contact

    ul.navbar-nav.ml-auto
        //- li.nav-item
        //-     a.nav-link(href="#",data-widget="navbar-search",role="button")
        //-         i.fas.fa-search
        //-     div.navbar-search-block
        //-         form.form-inline
        //-             div.input-group.input-group-small
        //-                 input.form-control.form-control-navbar(type="search",placeholder="Search",aria-label="Search")
        //-                 div.input-group-append
        //-                     button.btn.btn-navbar(type="submit")
        //-                         i.fas.fa-search
        //-                     button.btn.btn-navbar(type="button",data-widget="navbar-search")
        //-                         i.fas.fa-times

        li.nav-item
            a.nav-link(href="#",data-widget="fullscreen",role="button") 
                i.fas.fa-expand-arrows-alt
        li.nav.item 
            a.nav-link(href="/logout")
                | Logout 